<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

</br>

    <img src="/image/Logo para Tecnologia e Informática Preto e Verde Conectado.png" alt="senai" height="120px"></br>


    <div class="container">
        <h3>Ficha Cadastral</h3>

    </br>

        <form>
            <label class="label">Nome:</label>
            <input type="text" placeholder="Escreva seu nome" class="form-control">

        </br>

            <label class="label">CPF:</label>
            <input type="text" placeholder="Escreva seu CPF" class="form-control">

        </br>

            <label class="label">Data de nascimento:</label></br>
            <input id="date" type="date"/></br>

        </br>

            <label class="label">Endereço:</label>
            <input type="text" placeholder="Escreva seu endereço" class="form-control">

        </br>

            <form id="login" onsubmit="process(event)">
            <label class="label">Telefone:</label></br>
            <input id="phone" type="tel" name="phone" />
            </form>

        </br>

            <label class="label">E-mail:</label>
            <input type="text" placeholder="Escreva seu E-mail" class="form-control">

        </br>

           <button type="button" class="btn btn-outline-warning">Cadastre</button>

        </form>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</html>